body{
	font-family: 'Lato', sans-serif;
	color: #707070;
	font-weight: 300;

}

.text-muted{
	color: #C0C0C0;
}

.header{
	width: 100%
}

.text-thin{
	font-weight:100;
}

.title-super{
	font-size: 60px;
}

.title{
	text-align: right;
}

.title-logo{
	height: 100px;
}

.image-preview{
	height:200px;
	overflow: hidden;
}

.modal-image{
	max-height: 400px;
	overflow: hidden;
	display:block;
	margin:0 auto;
}

@media screen and (max-width: 1000px){
	.title-super{
		font-size: 40px;
	}
}